<div th:fragment="subfragment" class="page-wrapper">
  <div class="container py-4" ng-controller="product-ctrl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Sản phẩm</h3>
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="text-muted">
            Hiển thị
            <div class="mx-2 d-inline-block">
              <input type="text" class="form-control form-control-sm text-center" ng-model="items.length" size="3"
                aria-label="Invoices count" disabled>
            </div>
            sản phẩm
          </div>
          <div class="" style="margin-left: 100px;">
            <button class="btn btn-success d-none d-sm-inline-block" data-bs-toggle="modal"
              data-bs-target="#modal-voucher-add" style="text-decoration: none;">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg>
              Thêm giảm giá
            </button>
          </div>

          <div class="ms-auto text-muted d-flex justify-content-center">
            <!-- this is filter products -->
            <input type="text" ng-model="getItems" class="form-control me-3"
              placeholder="Nhập từ khóa tìm kiếm sản phẩm ..." style="width: 350px;">

            <!-- this is button to open form -->
            <button class="btn btn-success d-none d-sm-inline-block" data-bs-toggle="modal"
              data-bs-target="#modal-product-add" style="text-decoration: none;">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg>
              Thêm sản phẩm
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th class="w-1"></th>
              <th class="w-1">Id.
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24"
                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <polyline points="6 15 12 9 18 15" />
                </svg>
              </th>
              <th>Tên sản phẩm.</th>
              <th>Hình ảnh.</th>
              <th>Số lượng.</th>
              <th>Giá cả.</th>
              <th>Ngày tạo ra.</th>
              <th>Trạng thái.</th>
              <th>Loại hàng.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <!-- this is tr -->
            <tr ng-repeat="item in items | filter : getItems | orderBy : 'name'">
              <td></td>
              <td><span class="text-muted">{{ item.id }}</span></td>
              <td class="text-reset">{{ item.name }}</td>
              <td>
                <img class="bg-white" src="/dist/img/products/{{item.image}}" width="37px" height="37px"
                  style="margin-right: 10px;">
                <a href="/user/detail/{{item.id}}">{{ item.image }}</a>
              </td>
              <th>{{ item.number }}</th>
              <td>
                <strong style="font-weight: bolder;">$</strong> {{ item.price }}
              </td>
              <td>
                {{ item.createDate | date:'dd-MM-yyyy'}}
              </td>
              <td>
                <span
                  class="badge bg-{{item.number != 0 && item.category.status != false ? 'success' : 'danger'}} me-1"></span>
                {{ item.number != 0 && item.category.status != false ? 'Còn bán' : 'Hết bán' }}
              </td>
              <td> {{ item.category.name }} </td>
              <td class="text-end">

                <!-- this is edit -->
                <a ng-click="edit(item.id)" class="btn btn-default d-none d-sm-inline-block" data-bs-toggle="modal"
                  data-bs-target="#modal-product" style="text-decoration: none;">
                  Open Detail
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>





    <!-- modal add product -->
    <div class="modal modal-blur fade" id="modal-product-add" tabindex="-1" role="dialog" aria-hidden="true"
      style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" role="document">
        <form method="post" class="modal-content" action="/staff/products/add" enctype="multipart/form-data"
          th:object="${productDTO}">
          <div class="modal-header">
            <h5 class="modal-title">Chi tiết sản phẩm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Tên sản phẩm</label>

              <!-- this is model name of form product -->
              <input type="text" class="form-control text-primary" min="10" name="example-text-input"
                placeholder="Nhập tên sản phẩm ..." autocomplete="off" th:field="*{name}" required>
            </div>
            <path d="M14 6l7 7l-4 4"></path>
            <path
              d="M5.828 18.172a2.828 2.828 0 0 0 4 0l10.586 -10.586a2 2 0 0 0 0 -2.829l-1.171 -1.171a2 2 0 0 0 -2.829 0l-10.586 10.586a2.828 2.828 0 0 0 0 4z">
            </path>
            <path d="M4 20l1.768 -1.768"></path>
            </svg>
            Lưu trữ
            </button>
          </div>
        </form>
      </div>
    </div>



    <!-- modal add voucher -->
    <div class="modal modal-blur fade" id="modal-voucher-add" tabindex="-1" role="dialog" aria-hidden="true"
      style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" role="document">
        <form method="post" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Áp mã giảm giá</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label class="form-label">Tên sản phẩm</label>
              <!-- this is model name of form product -->
              <select class="form-select" onchange="readURL_product()" id="productImageVoucher">
                <option value="" disabled selected>-- Chọn sản phẩm --</option>
                <option th:each="c : ${productAll}" th:value="${c.image}">
                  [[${c.name}]]
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Mã giảm giá</label>
              <!-- this is model name of form product -->
              <select class="form-select" onchange="readURL_discount()" id="discountImageVoucher">
                <option value="" disabled selected>-- Chọn giảm giá --</option>
                <option th:each="v : ${voucherAll}" th:value="${v.free}">
                  [[${v.id}]]
                </option>
              </select>
            </div>


            <div class="mb-3 bg-white border p-2">
              <img id="productImage_" class="col-3" alt="">

              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg>

              <img id="discountImage_" class="col-3" alt="">
            </div>
          </div>

          <!-- this is for edit to update and delete -->
          <div class="modal-footer">
            <img src="" alt="">
            <button type="submit" class="btn btn-success">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ballpen" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 6l7 7l-4 4"></path>
                <path
                  d="M5.828 18.172a2.828 2.828 0 0 0 4 0l10.586 -10.586a2 2 0 0 0 0 -2.829l-1.171 -1.171a2 2 0 0 0 -2.829 0l-10.586 10.586a2.828 2.828 0 0 0 0 4z">
                </path>
                <path d="M4 20l1.768 -1.768"></path>
              </svg>
              Hoàn tất giảm giá
            </button>
          </div>
        </form>
      </div>
    </div>









    <!-- model edit and stop sale -->
    <!-- this is modal -->
    <div class="modal modal-blur fade" id="modal-product" tabindex="-1" role="dialog" aria-hidden="true"
      style="transition: 0.2s;">
      <div class="modal-dialog modal-lg" role="document"></svg>
        Ngừng bán
        </button>
      </div>
      </form>
    </div>
  </div>

  <script>
    // this is function to get src of image when staff upload image
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#imgPreview').attr('src', e.target.result).width(100).height(100);
        }
        reader.readAsDataURL(input.files[0])
      }
    }
    $('#productImage').change(function () {
      readURL(this);
    });
    

    // this is to same below function 
    // but this is upload for discount image product
    function readURL_product() {
      var image = $('#productImageVoucher').val();
      $('#productImage_').attr("src", "/dist/img/products/" + image);
    }

    function readURL_discount() {
      var free = $('#discountImageVoucher').val();
      console.log(free)
      $('#discountImage_').attr("src", "/dist/img/vourcher/" + Math.round(free) + ".png");
    }


    // -------------------------------------
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</div>
</div>