<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fastshop - Lỗi 500 bad request</title>
  <link rel="stylesheet" href="/dist/error/404.css">
  <link rel="shortcut icon" href="/dist/img/logo/logo_favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
</head>
  <body class="loading">
    <h1>404</h1>
    <h2>Lỗi không thành lập <b> :(</b></h2>
    <div style="text-align: center;">
      <a th:href="${'/'}">
        <button>Trở lại</button>
      </a>
    </div>
    <div class="gears">
      <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $(function() {
        setTimeout(function(){
          $('body').removeClass('loading');
        }, 1000);
      });
      
    </script>
  </body>
</html>
