<div th:fragment="subfragment" class="page-wrapper">
	<div class="page-wrapper">
        <hr class="mt-0 mb-3">
        <div th:object="${item}">
            <div class="row">
                <div class="col-xl-2 mb-3 me-2 bg-white">
                  <h3 class="text-primary p-3">
                    Tài khoản của bạn
                  </h3>
                  <ul class="list-profile">
                    <li class="list-item">
                      <a href="/user/myorder" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-description" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                          <path d="M9 17h6"></path>
                          <path d="M9 13h6"></path>
                        </svg>
                        Quản lý hóa đơn
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/profile" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="7" r="4"></circle>
                          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                        Tài khoản của tôi
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                          <line x1="12" y1="12" x2="12" y2="12.01"></line>
                          <line x1="8" y1="12" x2="8" y2="12.01"></line>
                          <line x1="16" y1="12" x2="16" y2="12.01"></line>
                        </svg> 
                        Nhận xét sản phẩm
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell-ringing" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                          <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                          <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727"></path>
                          <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727"></path>
                        </svg>
                        Thông báo của tôi
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/user/discount" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="8.5" cy="8.5" r="1" fill="currentColor"></circle>
                          <path d="M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z"></path>
                        </svg>
                        Quản lý các ưu đãi
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/user/address" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="11" r="3"></circle>
                          <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                        </svg> 
                        Địa chỉ mặc định
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/user/wallet" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-free-rights" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="12" r="9"></circle>
                          <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75"></path>
                          <path d="M12 7v2"></path>
                          <path d="M12 15v2"></path>
                          <path d="M6 6l1.5 1.5"></path>
                          <path d="M16.5 16.5l1.5 1.5"></path>
                        </svg>
                        Thông tin ví thanh toán
                      </a>
                    </li>
                    <li class="list-item">
                      <a href="/logout" class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" class="icon icon-tabler icon-tabler-power" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M7 6a7.75 7.75 0 1 0 10 0"></path>
                          <line x1="12" y1="4" x2="12" y2="12"></line>
                        </svg>
                        Thoát tài khoản
                      </a>
                    </li>
                  </ul>
                </div>
                

                <!-- this is address -->
                <div class="col-xl-9 bg-white ps-3 pe-4" >
                  <div class="row">
                    <div class="col mt-3">
                      <!-- <img th:src="@{/dist/img/free/undiscount.png}"  class="border p-1 me-1" alt=""> -->
                      <div class="d-flex justify-content-start">
                        <div class="d-flex justify-content-start align-items-center">
                          <h3 class="me-2">Ưu đãi nhận được của bạn</h3>
                        </div>
                      </div>
                      <div class="mt-2 d-flex justify-content-between align-items-center">
                        <img th:src="@{/dist/img/free/15K.png}" style="width: 40%; background: black;" alt="">
                      </div>
                      <div class="row ps-2 mt-3">
                        <button class="col-lg-3 btn bg-white text-center">
                          <img th:src="@{/dist/img/free/zip.png}" width="25" alt="">
                          <strong class="fs-4 ms-2 text-muted">
                              Ưu đãi khác 
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <polyline points="9 6 15 12 9 18"></polyline>
                              </svg>
                          </strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <link th:href="@{/dist/css/profile.css}" rel="stylesheet"/>
</div>