USE [master]
GO
/****** Object:  Database [Fastshop]    Script Date: 10/2/2022 3:36:06 PM ******/
CREATE DATABASE [Fastshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pegashop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pegashop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pegashop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pegashop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fastshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fastshop]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [varchar](15) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[fullname] [nvarchar](30) NOT NULL,
	[password] [nvarchar](15) NOT NULL,
	[photo] [varchar](30) NULL,
	[phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[choose] [bit] NULL,
	[place] [nvarchar](200) NOT NULL,
	[username] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](15) NULL,
	[roleid] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [varchar](255) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorydetails]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorydetails](
	[id] [varchar](5) NOT NULL,
	[property] [nvarchar](70) NOT NULL,
	[categoryid] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[feedback] [nvarchar](250) NULL,
	[productid] [int] NULL,
	[username] [varchar](15) NULL,
	[rate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[id] [varchar](20) NOT NULL,
	[date_from] [date] NULL,
	[date_end] [date] NULL,
	[free] [float] NULL,
	[status] [bit] NULL,
	[dolar] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[histories]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[link] [varchar](250) NOT NULL,
	[schedual] [datetime] NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[username] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[keywords]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keywords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[keyword] [nvarchar](100) NOT NULL,
	[username] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[orderid] [bigint] NULL,
	[productid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[createdate] [date] NULL,
	[username] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productdetails]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productdetails](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[info] [nvarchar](200) NOT NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdate] [date] NULL,
	[image] [varchar](255) NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NULL,
	[categoryid] [varchar](255) NULL,
	[number] [int] NULL,
	[available] [bit] NULL,
	[discountid] [varchar](20) NULL,
	[describe] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/2/2022 3:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accounts] ([username], [email], [fullname], [password], [photo], [phone]) VALUES (N'an123039', N'an123039@outlook.com', N'Tô Đình Tân', N'123456789', N'abc.jpg', N'0398107186')
INSERT [dbo].[accounts] ([username], [email], [fullname], [password], [photo], [phone]) VALUES (N'an542090', N'an542090@yahoo.com', N'Ông Trùng Vân', N'123456789', N'abc.jpg', N'0901585292')
INSERT [dbo].[accounts] ([username], [email], [fullname], [password], [photo], [phone]) VALUES (N'an542095', N'an542095@yahoo.com', N'Lý Văn Khải', N'123456789', N'abc.jpg', N'0954519241')
GO
SET IDENTITY_INSERT [dbo].[authorities] ON 

INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (130, N'an123039', N'USER')
INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (49, N'an542090', N'STAFF')
INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (457, N'an542095', N'USER')
GO
SET IDENTITY_INSERT [dbo].[authorities] OFF
GO
INSERT [dbo].[categories] ([id], [name], [status]) VALUES (N'B', N'Bia', 1)
INSERT [dbo].[categories] ([id], [name], [status]) VALUES (N'BD', N'Bóng đèn', 1)
INSERT [dbo].[categories] ([id], [name], [status]) VALUES (N'BL', N'Balo', 1)
GO
INSERT [dbo].[categorydetails] ([id], [property], [categoryid]) VALUES (N'NDC', N'Nồng độ', N'B')
INSERT [dbo].[categorydetails] ([id], [property], [categoryid]) VALUES (N'TT', N'Thương hiệu', N'B')
GO
INSERT [dbo].[discounts] ([id], [date_from], [date_end], [free], [status], [dolar]) VALUES (N'0000-5555-0214-5879', CAST(N'2022-06-23' AS Date), CAST(N'2022-07-10' AS Date), 50, 0, NULL)
INSERT [dbo].[discounts] ([id], [date_from], [date_end], [free], [status], [dolar]) VALUES (N'0250-9666-3602-0001', CAST(N'2022-02-10' AS Date), CAST(N'2022-02-20' AS Date), 30, 0, NULL)
INSERT [dbo].[discounts] ([id], [date_from], [date_end], [free], [status], [dolar]) VALUES (N'0522-0555-9686-9875', CAST(N'2021-06-12' AS Date), CAST(N'2021-07-12' AS Date), 10, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[histories] ON 

INSERT [dbo].[histories] ([id], [link], [schedual], [title], [username]) VALUES (7, N'http://localhost:8080/admin/employee', CAST(N'2022-10-01T22:22:07.740' AS DateTime), N'Admin - Thống kê danh sách nhân viên', N'khannit159')
INSERT [dbo].[histories] ([id], [link], [schedual], [title], [username]) VALUES (8, N'http://localhost:8080/admin/help/contact', CAST(N'2022-10-01T22:22:11.487' AS DateTime), N'Thông tin liên hệ chúng tôi', N'khannit159')
INSERT [dbo].[histories] ([id], [link], [schedual], [title], [username]) VALUES (9, N'http://localhost:8080/admin/help/license', CAST(N'2022-10-01T22:22:14.267' AS DateTime), N'Tài liệu thông tin pháp lý', N'khannit159')
SET IDENTITY_INSERT [dbo].[histories] OFF
GO
SET IDENTITY_INSERT [dbo].[keywords] ON 

INSERT [dbo].[keywords] ([id], [keyword], [username]) VALUES (15, N'a', N'an123039')
SET IDENTITY_INSERT [dbo].[keywords] OFF
GO
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([id], [quantity], [orderid], [productid]) VALUES (1, 1, 1, 30)
INSERT [dbo].[orderdetails] ([id], [quantity], [orderid], [productid]) VALUES (2, 2, 1, 31)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [address], [createdate], [username]) VALUES (1, N'K341/18 Tôn Đức Thắng, Q.Liên Chiểu, Hòa Minh, ĐN', CAST(N'2022-08-21' AS Date), N'nguyenkha220699')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [createdate], [image], [name], [price], [categoryid], [number], [available], [discountid], [describe]) VALUES (30, CAST(N'2022-12-30' AS Date), N'bia1.jpg', N'Bia Laru - Vui cùng miền trung nào', 251.25, N'B', 120, 1, NULL, NULL)
INSERT [dbo].[products] ([id], [createdate], [image], [name], [price], [categoryid], [number], [available], [discountid], [describe]) VALUES (31, CAST(N'2022-08-19' AS Date), N'bia2.jpg', N'Bia Oranjeboom Premium Strong', 352.12, N'B', 50, 1, NULL, NULL)
INSERT [dbo].[products] ([id], [createdate], [image], [name], [price], [categoryid], [number], [available], [discountid], [describe]) VALUES (32, CAST(N'2022-08-13' AS Date), N'bia3.jpg', N'Bia X-Mark Tequila 5,9% – Lon 500ml – Thùng 12 lon', 130.22, N'B', 55, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[roles] ([id], [name]) VALUES (N'ADMIN', N'Administrators')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'STAFF', N'Staffs')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'USER', N'Users')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKhtk0tjw6uf67w0vkhy5n3j1oq]    Script Date: 10/2/2022 3:36:06 PM ******/
ALTER TABLE [dbo].[authorities] ADD  CONSTRAINT [UKhtk0tjw6uf67w0vkhy5n3j1oq] UNIQUE NONCLUSTERED 
(
	[username] ASC,
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FKevi9708lm1k06pa4dugc91k7v] FOREIGN KEY([roleid])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FKevi9708lm1k06pa4dugc91k7v]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FKlw0sapcjvuxfa1kvyjw7jml88] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FKlw0sapcjvuxfa1kvyjw7jml88]
GO
ALTER TABLE [dbo].[categorydetails]  WITH CHECK ADD  CONSTRAINT [FKjvgs336thqdjsob207rd2rslx] FOREIGN KEY([categoryid])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categorydetails] CHECK CONSTRAINT [FKjvgs336thqdjsob207rd2rslx]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FKdpyej8iigc8ml84qxns9mwvda] FOREIGN KEY([productid])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FKdpyej8iigc8ml84qxns9mwvda]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FKmtau98mcbrvrn12dod8amygdl] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FKmtau98mcbrvrn12dod8amygdl]
GO
ALTER TABLE [dbo].[histories]  WITH CHECK ADD  CONSTRAINT [FK6pqq8n14hj80civ7y3qh3lfw1] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[histories] CHECK CONSTRAINT [FK6pqq8n14hj80civ7y3qh3lfw1]
GO
ALTER TABLE [dbo].[keywords]  WITH CHECK ADD  CONSTRAINT [FKow0qfpj4kif8mq0erb14hp2vb] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[keywords] CHECK CONSTRAINT [FKow0qfpj4kif8mq0erb14hp2vb]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKaltatpxipsjtcih4d1h6bn0xr] FOREIGN KEY([productid])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKaltatpxipsjtcih4d1h6bn0xr]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKj4gc2ja2otvwemf4rho2lp3s8] FOREIGN KEY([orderid])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKj4gc2ja2otvwemf4rho2lp3s8]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKk3cjfcgb621qhahps1tre43e4] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKk3cjfcgb621qhahps1tre43e4]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_discount_id] FOREIGN KEY([discountid])
REFERENCES [dbo].[discounts] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_discount_id]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK1krrsjgcawsfg8k8u4hm5gi8q] FOREIGN KEY([categoryid])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK1krrsjgcawsfg8k8u4hm5gi8q]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD CHECK  (([rate]>=(0) AND [rate]<=(5)))
GO
USE [master]
GO
